.blogHeader{
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    vertical-align: center;
    padding-left: 0.8rem;
    cursor: pointer;
}
.blogHeader:hover{
    background-color: #F2F2F2;
}
.blogTitle{
    color:  rgb(2, 100, 100);
    font-weight: 600;
}
.blogDate{
    color: darkcyan;
    font-weight: 200;
    font-style: italic;
}